<form action="/dashboard/addlocation" method="POST">
  <div class="field">
    <label class="label">Location Name</label>
    <input class="input" type="text" placeholder="Enter location name" name="name">
  </div>
  <div class="field">
    <input class="input" type="number" placeholder="Enter latitude" name="latitude">
  </div>
  <div class="field">
    <input class="input" type="number" placeholder="Enter longitude" name="longitude">
  </div>
  <button class="button is-link">Add Location</button>
</form>
